interactions:
- request:
    body: '{"tripType":"1","fromCity":"ICN","toCity":"NRT","fromDate":"20260905","adultNum":1,"childNum":0,"infantNum":0,"currency":"USD"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.atriptech.com/search.do
  response:
    body:
      string: '{"routings":[{"fid":"<REDACTED>","routingIdentifier":"<REDACTED>","supportCreditTransPayment":"0","supportPaymentMethods":[1],"currency":"USD","adultPrice":62.43,"adultTax":29.35,"adultDetails":[{"code":"farePrice","type":"base","amount":62.43,"description":"Ticket
        Price Markup","markupDetailId":null,"version":null,"direction":null},{"code":"tax","type":"tax","amount":29.35,"description":"Tax","markupDetailId":null,"version":null,"direction":null}],"childPrice":62.43,"childTax":29.35,"childDetails":[{"code":"farePrice","type":"base","amount":62.43,"description":"Ticket
        Price Markup","markupDetailId":null,"version":null,"direction":null},{"code":"tax","type":"tax","amount":29.35,"description":"Tax","markupDetailId":null,"version":null,"direction":null}],"infantPrice":20.81,"infantTax":0.0,"infantDetails":[{"code":"farePrice","type":"base","amount":20.81,"description":"Ticket
        Price Markup","markupDetailId":null,"version":null,"direction":null},{"code":"tax","type":"tax","amount":0.0,"description":"Tax","markupDetailId":null,"version":null,"direction":null}],"childMandatorySeatingFee":null,"infantAllowed":true,"transactionFeePerPax":0.0,"transactionFee":0.0,"transactionFeeMode":"PER_PAX","nationalityType":0,"nationality":"","suitAge":"","PaxType":"ADT","fromSegments":[{"segmentIndex":1,"carrier":"ZE","flightNumber":"ZE609","depAirport":"ICN","depTime":"202609051030","arrAirport":"NRT","arrTime":"202609051300","stopCities":"","duration":150,"codeShare":false,"cabin":"S","cabinClass":1,"seatCount":9,"aircraftCode":"738","depTerminal":"","arrTerminal":"","operatingCarrier":"","operatingFlightnumber":"","fareFamily":"Discount
        Fare"}],"retSegments":[],"combineIndexs":[],"rule":{"hasBaggage":1,"baggageElements":[{"segmentNo":1,"baggageType":"StandardCheckInBaggage","passengerType":0,"baggagePiece":1,"baggageWeight":15,"baggageSize":"L+W+H<=203cm","isAllWeight":false},{"segmentNo":1,"baggageType":"StandardCheckInBaggage","passengerType":1,"baggagePiece":1,"baggageWeight":15,"baggageSize":"L+W+H<=203cm","isAllWeight":false},{"segmentNo":1,"baggageType":"StandardCheckInBaggage","passengerType":2,"baggagePiece":0,"baggageWeight":0,"baggageSize":"L+W+H<=203cm","isAllWeight":false}],"refundRules":[{"refundType":0,"refundStatus":"H","refundMethod":null,"refundFee":87975.9,"currency":"KRW","refNoshow":"H","refNoShowCondition":0,"refNoshowFee":87975.9,"ruleDetailList":[{"ruleId":41322,"status":"F","refundMethod":"CashBackToOriginalPayment","startMinute":525600,"endMinute":131040,"amount":0.0,"currency":"KRW"},{"ruleId":41323,"status":"H","refundMethod":"CashBackToOriginalPayment","startMinute":131040,"endMinute":87840,"amount":30000.0,"currency":"KRW"},{"ruleId":41324,"status":"H","refundMethod":"CashBackToOriginalPayment","startMinute":87840,"endMinute":44640,"amount":50000.0,"currency":"KRW"}]}],"changesRules":[{"changesType":0,"changesStatus":"T","changesFee":0.0,"currency":"KRW","revNoshow":"T","revNoShowCondition":0,"revNoshowFee":0.0,"ruleDetailList":[{"ruleId":65914,"status":"F","refundMethod":null,"startMinute":525600,"endMinute":20160,"amount":0.0,"currency":"KRW"},{"ruleId":65915,"status":"H","refundMethod":null,"startMinute":20160,"endMinute":10080,"amount":40000.0,"currency":"KRW"},{"ruleId":65916,"status":"H","refundMethod":null,"startMinute":10080,"endMinute":60,"amount":60000.0,"currency":"KRW"}]}],"serviceElements":[{"hasFreeSeat":0,"hasFreeMeal":0}]},"ancillaryProductElements":[],"vendorFare":null,"bundleOptions":[],"links":null,"separateBookings":false,"refreshTime":"2026-08-15T09:21:03Z","expireTime":"2026-08-15T09:36:47Z","displayFare":null,"ancillarySupported":["seat","luggage"],"cardChargeList":null,"tags":null,"riskSellout":false,"residentCode":null},{"fid":"<REDACTED>","routingIdentifier":"<REDACTED>","supportCreditTransPayment":"0","supportPaymentMethods":[1],"currency":"USD","adultPrice":33.6,"adultTax":28.69,"adultDetails":[{"code":"farePrice","type":"base","amount":33.6,"description":"Ticket
        Price Markup","markupDetailId":null,"version":null,"direction":null},{"code":"tax","type":"tax","amount":28.69,"description":"Tax","markupDetailId":null,"version":null,"direction":null}],"childPrice":33.6,"childTax":28.69,"childDetails[...]
