interactions:
- request:
    body: '{"cid":"<REDACTED>","sessionId":"<REDACTED>","passengers":[{"name":"TEST/ONE","passengerType":0,"birthday":"19900101","gender":"M","nationality":"ID","cardNum":"A12345678","cardType":"PP","cardExpired":"20301231"}],"contact":{"name":"TEST/ONE","email":"test@example.com","mobile":"0062-8123456789"},"requestSource":"antabay"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.atriptech.com/order.do
  response:
    body:
      string: '{"orderNo":"TESTA20260815172246746","pnrCode":"TZKZYA","totalPrice":90.39,"totalTransactionFee":0.0,"currency":"USD","vendorTotalPrice":null,"vendorCurrency":null,"tktLimitTime":"2026-08-15T17:52:46Z","paxTicketInfos":[{"name":"TEST/ONE","ticketNos":[],"airlinePNRs":[]}],"routing":{"fid":"<REDACTED>"},"sessionId":"<REDACTED>","offerId":null,"originalOrderNo":null,"ticketOrderNo":null,"includeExtraBaggage":false,"paymentOptions":[1],"duplicateOrders":null,"status":0,"msg":"success"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"cid":"<REDACTED>","orderNo":"TESTA20260815172246746","requestSource":"antabay"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.atriptech.com/pay.do
  response:
    body:
      string: '{"orderNo":"TESTA20260815172246746","pnrCode":"TZKZYA","paymentMethod":1,"airlines":["ZE"],"status":0,"msg":"success"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"cid":"<REDACTED>","orderNo":"TESTA20260815172246746","requestSource":"antabay"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.atriptech.com/queryOrderDetails.do
  response:
    body:
      string: '{"orderStatus":"1","ticketStatus":"0","paxTicketInfos":[{"name":"TEST/ONE","ticketNos":[],"airlinePNRs":[]}],"payTime":"2026-08-15T17:23:10Z","createdTime":"2026-08-15T17:22:46Z","updatedTime":"2026-08-15T17:23:10Z","tktLimitTime":"2026-08-15T17:52:46Z","vccStatus":null,"paymentAttempted":true,"errorCode":null,"errorMessage":null,"ifSeatOccupied":false,"itineraryDownload":null,"refundRules":null,"airlineBookings":null,"airlineMessage":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
